IDV_BASE_URL=https://test.tomopayment.com
TOMO_IDV_CLIENT_ID=
TOMO_IDV_SECRET=
GOOGLE_CLIENT_ID=296544963038-pg7rs2lbtvhesn0hvnqte9m15gv10l7m.apps.googleusercontent.com
WECHAT_CLIENT_APP_ID=wxbbf0e2ac38ee16cd
TEST_BOARD_PATH=../../test-board/test-board.html
